.main {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 3rem 8rem;
  min-height: 100vh;
  background: rgb(173, 117, 146);
  background: linear-gradient(357deg, rgba(173, 117, 146, 1) 0%, rgba(62, 50, 163, 1) 100%);
}

.lastUpdated {
  font-size: 0.8rem;
  color: #d7d7d7;
}

.data {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  margin: 2rem;
  font-size: 1rem;
  padding: 2rem;
  font-family: 'roboto', sans-serif;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  font-family: 'roboto', sans-serif;
  color: rgb(255, 255, 255);
}

.weatherCont {
  line-height: 2rem;
}

.weekday {
  font-weight: 700;
  color: #ffffff;
  text-align: center;
}

.month {
  color: #88cee7;
  line-break: none;
  text-align: center;
  font-weight: 600;
}

.degreeCont {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.degree {
  font-size: 3rem;
  color: #ffffff;
  font-weight: 500;
}

.celsius {
  font-size: 1.2rem;
  color: #ffffff;
  font-weight: 200;
  margin-bottom: 20px;
  margin-left: 5px;
}


.weather {
  font-size: 1rem;
  text-align: center;
  color: #ecddea;
}

@media screen and (max-width: 800px) {
  .data {
    flex-direction: column;
  }

  .main {
    background: rgb(173, 117, 146);
    background: linear-gradient(270deg, rgba(173, 117, 146, 1) 0%, rgba(62, 50, 163, 1) 100%);
  }
}